.App {
  margin-top: 20px;
  text-align: center;
}


ul{
  list-style: none;
}

li{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.delete{
  color: red;
  cursor: pointer;
}

.checkbox{
  cursor: pointer;
}

input:checked + span {
  text-decoration: line-through;
}

.important-icon{
  width: 10px;
  height: 10px;
}